.bottom-boder-1px {
    position: relative;
}
.bottom-boder-1px:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(7, 17, 27, 0.1);
    content: "";
}
@media (min-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5) {
    .bottom-boder-1px:after {
        transform: scaleY(0.7);
        -webkit-transform: scaleY(0.7);
    }
}
@media (min-device-pixel-ratio:2.0),(-webkit-min-device-pixel-ratio:2.0) {
    .bottom-boder-1px:after {
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5);
    }
}

.clearfix {
    display: inline-block;
}
.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
